<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
	<title> KCE </title>

  {% load staticfiles %}
  
	<link rel="stylesheet" href="{% static 'about.css' %}">
</head>
<div class="about-section">
    <h1>About Us Page</h1>
    <p>This page contains information about the website and about the owner.</p>
    <a href="{% url 'homepage' %}"><button>Return to Homepage</button></a>
  </div>

  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>About the website</h2>
          <p>Kontra Covid Essentials is a website that showcases what we sell which are anti-COVID essentials such as PPEs, disinfectants, and accessories. The location where you can buy these products is 74 Iznart Street Iloilo City, Philippines. It is beside both BDO and Metrobank. </p>
          <p>335-10-45</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="{% static 'alyssa-pic.png' %}" alt="Alyssa's picture" style="width:100%">
        <div class="container">
          <h2>Alyssa Alexandra Lee</h2>
          <p class="title">Owner</p>
          <p>She is a 2nd year student from the University of the Philippines Visayas who enjoys selling stuff. When the COVID pandemic peaked in the PH, she thought of selling products that might help other people. Behold, Kontra COVID Essentials!</p>
          <p>09204103487</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>