<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
	<title> KCE </title>
    {% load staticfiles %}
	<link rel="stylesheet" href="{% static 'accessories.css' %}">
</head>
<body>
	<div id="rectangle">Kontra Covid Essentials</div>
	<br>
<section class="imgs">
	<div class="icon1"><img src="{% static 'kce-logo.png' %}"></div>
</section>
	<!-- Contains the navigation bar -->
	<header>
		<br>
		<a href="{% url 'products' %}"><button>Products</button></a>
	</br>
	<br>
	<br>
		<a href="{% url 'reviews' %}"><button>Reviews</button></a>
	</br>
	<br>
	<br>
	<a href="{% url 'about' %}"><button>About</button></a>
	</br>
<br>
	<br>
	<a href="{% url 'queries' %}"><button>Queries</button></a>
	</br>
		</header>

<div class="rcorner"></div>

<section class="content">
	<div class="title"> <h1> Accessories </h1> </div>
    <div class="mscm">
		<a href="#"><img src="{% static 'mscm1.jpg' %}" alt="Mask Sterilizer Coating Machine" width="370px" height="260px"></a>
		<a href="#"><img src="{% static 'mscm2.jpg' %}" alt="Mask Sterilizer Coating Machine" width="430px" height="260px"></a>
					<h2> Mask Sterilizer Coating Machine </h2>
				</div>
			</div>
    <div class="its">
		<a href="#"><img src="{% static 'its1.jpg' %}" alt="Infrared Thermal Scanner" width="370px" height="260px"></a>
		<a href="#"><img src="{% static 'its2.jpg' %}" alt="Mask Sterilizer Coating Machine" width="430px" height="260px"></a>
        <a href="#"><img src="{% static 'its3.jpg' %}" alt="Mask Sterilizer Coating Machine" width="430px" height="260px"></a>
					<h3> Infrared Thermal Scanner </h3>
				</div>
			</div>

     <div class="atomizer-kc">
        <a href="#"><img src="{% static 'atomizer-kc.jpg' %}" alt="Atomizer keychain" width="370px" height="260px"></a>
                    <h4> Atomizer keychain </h4>
                </div>
        </div>
</section>