<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
	<title> KCE </title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'homepage.css' %}">

</head>
<body>
	<div id="rectangle">Kontra Covid Essentials</div>
	<br>
<section class="images">
	<div class="icon1"><img src="{% static 'kce-logo.png' %}"></div>
</section>
	<!-- Contains the navigation bar -->
	<header>
		<br>
		<a href="{% url 'products' %}"><button>Products</button></a>
	</br>
	<br>
	<br>
	<a href="{% url 'reviews' %}"><button>Reviews</button></a>
	</br>
	<br>
	<br>
	<a href="{% url 'about' %}"><button>About</button></a>
	</br>
<br>
	<br>
	<a href="{% url 'queries' %}"><button>Queries</button></a>
	</br>
		</header>

<div class="icon2"><img src="{% static 'homepage_bg.jpg' %}"></div>