<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Do you have any questions?</title>
  {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'queries.css' %}" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <a href="{% url 'homepage' %}"><button>Return to Homepage</button></a>
  </head>
  <body>
    <div class="container">
      <span class="big-circle"></span>
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Do you have any questions?</h3>
          <p class="text">
            Hey :) This is the Queries section of the website. If you have any questions, just fill in your contact details and question at the blanks.
          </p>

          <div class="info">
            <div class="information">
              <p>78 Iznart Street Iloilo City, Philippines</p>
            </div>
            <div class="information">
              <p>kontracovidessentials@gmail.com</p>
            </div>
            <div class="information">
              <p>335-10-45</p>
            </div>
          </div>

          <div class="social-media">
            <p>Connect with us :</p>
            <div class="social-icons">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>

          <form action="" method="POST" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            <h3 class="title">Contact us</h3>
            <div class="input-container">
              <input type="text" name="name" class="input" />
              <label for="">Name</label>
              <span>Username</span>
            </div>
            <div class="input-container">
              <input type="email" name="email" class="input" />
              <label for="">Email</label>
              <span>Email</span>
            </div>
            <div class="input-container">
              <input type="tel" name="phone" class="input" />
              <label for="">Phone</label>
              <span>Phone</span>
            </div>
            <div class="input-container textarea">
              <textarea name="message" class="input"></textarea>
              <label for="">Query</label>
              <span>Message</span>
            </div>
            <input type="submit" value="Submit" class="btn" />
          </form>
        </div>
      </div>
    </div>

    <script src="{% static 'queries.js' %}"></script>
  </body>
</html>