h1 {
    color: black;
    text-align: left;
    font-family: bebas neue;
    font-size: 35px;
  }
  
  button{
      font-size: 25px;
      font-family: tahoma;
    background-color:  #FCEF91;
    position: relative;
    left: 80px;
  }
  
  #rectangle{
      width:1265px;
      height:80px;
      background:#ffb6c1;
      font-family: bebas neue;
      font-size: 75px;
  }
  
  body {
    background-color: lightblue;
  }
  
  .icon1 img {
    width: 300px;
    height: 200px;
  }
  
  .rcorner{
    border-radius:25px;
    padding: 20px;
    background:#ca9bf7;
    width:900px;
    height:1580px;
    position: absolute;
    top:25%;
    left:33%;
    margin-top:-50px;
    margin-left:-50px;
  }
  
  .title h1{
    font-family: "Nunito", sans-serif;
      font-size: 50px;
      padding: 10px;
      position: absolute;
    top:20%;
    left:5%;
    margin-top:20px;
    margin-left: 750px;
      transform: translate(-50%, -50%);
      letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #008080;
    text-shadow: 20px 20px 	#000080;
  }
  
  .title h1{
    font-family: "Nunito", sans-serif;
    font-size: 50px;
    padding: 10px;
    position: absolute;
    top:20%;
    left:5%;
    margin-top:20px;
    margin-left: 750px;
    transform: translate(-50%, -50%);
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #008080;
    text-shadow: 20px 20px 	#000080;
  }
  
  .mscm {
    position:absolute;
    top:37%;
    left:35%;
  }
  
  .mscm h2 {
    font-family:"Copperplate",fantasy;
    font-size: 32px;
    text-align: center;
  }

  .its {
      position:absolute;
      top:105%;
      left:35%;
  }
  
  .its h3 {
    font-family:"Copperplate",fantasy;
    font-size: 32px;
    text-align: center;
  }

  .atomizer-kc {
    position:absolute;
    top:225%;
    left:35%;
  }

  .atomizer-kc h4 {
    font-family:"Copperplate",fantasy;
    font-size: 32px;
    text-align: center;
  }

  