h1 {
  color: black;
  text-align: left;
  font-family: bebas neue;
  font-size: 35px;
}

button{
	font-size: 25px;
	font-family: tahoma;
  background-color:  #FCEF91;
  position: relative;
  left: 80px;
}

#rectangle {
    width:1265px;
    height:80px;
    background:#ffb6c1;
    font-family: bebas neue;
    font-size: 75px;
}

body {
  background-color: lightblue;
}

.icon1 img {
  width: 300px;
  height: 200px;
}

.icon2 img{
  width:900px;
  height:500px;
  position: absolute;
  top:25%;
  left:33%;
  margin-top:-50px;
  margin-left:-50px;
}